[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4

[{*.mod,*.dtd,*.ent,*.elt}]
indent_style=space
indent_size=4

[{*.jhm,*.rng,*.wsdl,*.fxml,*.pom,*.xslt,*.jrxml,*.ant,*.xul,*.xsl,*.xsd,*.tld,*.jnlp,*.wadl,*.xml}]
indent_style=space
indent_size=4

[{.firebaserc,.babelrc,.stylelintrc,jest.config,.eslintrc,*.bowerrc,*.jsb3,*.jsb2,*.json}]
indent_style=tab
tab_width=4

[*.svg]
indent_style=space
indent_size=4

[{messages.*,spring.handlers,spring.schemas,messages,org.codehaus.groovy.runtime.ExtensionModule,*.properties}]
indent_style=space
indent_size=4

[{*.ddl,*.sql}]
indent_style=space
indent_size=2

[{*.gradle,*.groovy,*.gdsl,*.gy,*.gant}]
indent_style=space
indent_size=4

[{*.kts,*.kt}]
indent_style=space
indent_size=4

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

